.container{
    border: 80%;
    background: yellow;
    border: solid black 10px;
    text-align: center;
}
.pad-1{
    border: solid 10px black;
    color: white;
    background: red;
    padding: 20px;
    margin: 0 40px;
}
.pad-2{
    border: solid 10px black;
    color: white;
    background: blue;
    padding: 20px;
    margin: 25px 40px;
}
